* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1024px;
  background: url(table.jpg);
  /* Image by <a href="https://www.freepik.com/free-photo/elevated-view-red-dices-casino-chips-green-poker-table_2914498.htm#query=casino%20table&position=8&from_view=search">Freepik</a> */
  background-size: 170%;
  font-family:Oxygen, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-weight: bold;
}

header {
  background: #004b00;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 5px 5px 30px black;
}

.player-input {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 1.1em;
}

input {
  text-align: center;
  background-color: white;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 20px;
  font-weight: bold;
  width: 200px;
} 

input[type=submit] {
  width: 70px;
  text-transform: uppercase;
}

input[type=submit]:hover {
color: white;
background-color: black;}

.player-names {
  color: white;
}

h1, h2, p {
    color: white;
    text-shadow: 0 0 10px black;
}

h1 {
  font-size: 50px;
  margin: 40px 0px;
}

h2 {
    margin-bottom:10px;
    font-size: 30px;
}

#container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.player-controls {
  display: flex;
  flex-direction: column;
}
.counter-controls {
  display: flex;
  gap: 15px;
}

#save-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/********** Button styling ***********/

button {
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: large;
    text-transform: uppercase;
    width: 200px;
    padding: 10px 40px;
    margin-bottom: 10px;    
    transition: all 0.3s;
}

header > button {
  width: 100px;
  height: 30px;
}
button:active {
  transform: scale(1.1);
}

.counter-controls button {
    background: #8b0000;
    width: 50px;

}

.counter-controls button:active {  
  background: #720000;
}

button[data-action="save"]{
    background: #007e00;
    margin-top: 20px;
}

button[data-action="save"]:active {
  background: #004b00;
}

button[data-action="clear"] {
  background: black;  
}

button[data-action="clear"]:hover {
  background: white;
  color: black;  
}


button span {
  display: flex;
  justify-content: center;
}





 